name: Maven Build and Test
on:[workflow_dispatch]

jobs:
  build:
    runs-on: [self-hosted, redhat]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: '8'

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Run tests with Maven
        run: mvn clean install
      - name: Run Sonar with Maven
        #run: mvn sonar:sonar -Dsonar.host.url=http://localhost:9000 -Dsonar.login=${{ secrets.Sonar }}             
        run: mvn sonar:sonar -Dsonar.host.url=http://3.89.253.56/ -Dsonar.login=${{ secrets.Sonart }}  
